body{
    background-color: greenyellow;
}
.grid{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;   
}
.header{
    display:flex;
    justify-content:space-between;
    background-color: aqua;
    border:5px solid ;  
    border-radius: 20px;
}
.menu{
    background-color: red;
    border:5px solid ;  
    border-radius: 20px;
}
